<div class='menu'>
  <a href="#" id="edit_record_<%= record.get('id') %>" class="edit">Edit</a> ·
  <a href="#" id="delete_record_<%= record.get('id') %>" class="delete">Delete</a>
</div>
<a class="cover" href="<%= record.get('spotify_uri') || "#" %>">
  <img alt="" width="200px" height="200px" title="<%= record.get('title') %>" src="<%= record.get('cover_url') %>"></img>
</a>
<a class="title" href="<%= record.get('spotify_uri') || "#" %>" title="<%= record.get('title') %>">
  <%= record.get('title').truncate(26) %>
</a>
<span class='artist' title="<%= record.get('artist') %>">
  <%= record.get('artist').truncate(35) %>
</span>
