<!DOCTYPE html>
<html>
  <head>
    <title>ZOH路MY路RECORDS</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png" %>
  </head>
  <body>
    <h1 class="title"><a href="/">ZOH路MY路RECORDS</a></h1>
    <%= yield %>
    <a href="https://github.com/mllocs/zoh-my-records" target="blank">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
    </a>
  </body>
</html>
